{
    "id":[NUMERO DE IDENTIFICACIÓN DE LA SOLUCIÓN],
    "path":"[RUTA DEL REPOSITORIO INSTALADO]",
    "webpath":"[RUTA DE LA CARPETA DEL ENTORNO WEB]",
    "server":"[IP DEL SERVIDOR DONDE SE EJECUTA EL SERVICIO]"
}